* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    display: block;
}

.titulo_principal {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-weight: 74000;
    padding-bottom: 20px;
    font-size: 20px;
}

.navegador {
    display: block;
    border: 1px solid white;
    height: 210px;
}

.buscador {
    position: absolute;
    width: 417px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 408px;
    margin-right: 260px;
    margin-bottom: 120px;
    border: #fff;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 18px;
    display: flex;
    align-items: center;
    background-position: 380px center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn {
    position: absolute;
    width: 106px;
    height: 42px;
    background: #2770F1;
    border: #2770F1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 850px;
    margin-right: 50px;
    margin-bottom: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
}

.random_btn {
    position: absolute;
    width: 133px;
    height: 42px;
    margin-top: 140px;
    margin-left: 600px;
    margin-bottom: 120px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: #152B5A;
    border: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: 100px center;
    padding-right: 25px;
}

.frases {
    display: block;
    background-color: #fff;
    height: 1200px;
}

.autor {
    color: #152B5A;
    padding-top: 20px;
    background-color: #fff;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_frases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.frase1 {
    width: 50%;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 100px 25px 25px 300px;
    text-align: center;
    margin-top: 20px;
}

.genero__frase {
    width: 150px;
    height: 40px;
    color: #fff;
    background: #5C97FF;
    border-radius: 38px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

.texto1 {
    font-weight: 500;
    color: #152B5A;
    margin: 0 auto;
    width: 100%;
    padding: 10px 59px;
}

.container{
    margin: 8rem 1rem 4rem;
}

.card-Principal{
    border: 1px solid #e0ff00;
    box-shadow: 5px 10px #e0ff00;
}

.author{
    text-align: center;
}

.gener{
    text-align: center;
    margin-top: 1rem;
}

#frase{
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.btn-otra{
    color: #1c1c1c;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    transition: ease-in .500s;

}

.btn-otra:hover{
    border: 3px solid #e0ff00;
}